<h1 class="page-header">
 Spread 스파크라인 | Spread Sparkline
</h1>
<div id="content" class="content">
<p>SpreadSparkline 함수를 사용하여 Spread 스파크 라인을 만들 수 있습니다. <br/><br/>
= <b>SPREADSPARKLINE (points, showAverage?, scaleStart ?, scaleEnd ?, style ?, colorScheme?, vertical?)</b><br/><br/>
이 함수에는 다음과 같은 매개 변수가 있습니다.<br/><br/>

<b>points</b> : "A1 : A10"과 같이 설명 할 모든 값이 포함 된 셀 범위를 나타내는 레퍼런스입니다.<br/><br/>

<b>showAverage</b> : (선택 사항) 평균을 표시할지 여부를 나타내는 Boolean 값입니다. 기본값은 false입니다.<br/><br/>

<b>scaleStart</b> : (선택 사항) 스파크 라인의 최소 경계를 나타내는 숫자 또는 레퍼런스. 기본값은 모든 값 중 최소값입니다.<br/><br/>

<b>scaleEnd</b> : (선택 사항) 스파크 라인의 최대 경계를 나타내는 숫자 또는 레퍼런스. 기본값은 모든 값의 최대 값입니다.<br/><br/>

<b>style</b> : (선택 사항) 펼쳐진 스파크 라인의 스타일에 대한 번호 레퍼런스입니다. 다음 중 하나입니다.<br/><br/></p>
<ul>
  <li><b>1. Stacked - 중심에서 양면으로 선 </b></li>
  <li><b>2. Spread -  중심에서 양면으로 점</b></li>
  <li><b>3. Jitter - 임의 위치의 점 </b></li>
  <li><b>4. (기본값)Poles - 한면에서 다른면으로 선 </b></li>
  <li><b>5. StackedDots - 한면에서 다른면으로 점  </b></li>
  <li><b>6. Stripe - 길이가 같은 줄 </b></li>
</ul>
<p>
<b>colorScheme</b> : (선택 사항) 스파크 라인 상자의 색상을 나타내는 문자열. 기본값은 "# 646464"입니다.
<br/><br/>
<b>vertical</b> : (선택 사항) 스파크 라인을 세로로 표시할지 여부를 나타내는 Boolean 값입니다. 기본값은 false입니다.
<br/><br/>
</p>  

<br/>
<h2> 
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/Spread Sparkline' src='//codepen.io/GrapeCity-Korea/embed/LyPGog/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/LyPGog/'>SpreadJS.10/Spread Sparkline</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>     