<h1 class="page-header">
 Area 스파크라인 | Area Sparkline
</h1>
<div id="content" class="content">
<p>AreaSparkline 함수를 사용하여 영역 스파크 라인을 만들 수 있습니다. <br/><br/>
=<b>AREASPARKLINE(points, min?, max?, line1?, line2?, colorPositive?, colorNegative?).</b><br/><br/>
이 함수에는 다음과 같은 매개 변수가 있습니다.<br/><br/>
<b>points</b> : "D1 : D6"과 같은 범위입니다. 셀 값이 유효한 숫자가 아니면 0으로 처리됩니다.<br/><br/>
<b>min</b> : (선택 사항) 스파크 라인의 최소값을 나타내는 숫자입니다. 최소값과 실제 최소값이 적용됩니다. 기본값은 해당 범위의 최소값입니다.
<br/><br/>
<b>max</b> : (선택 사항) 스파크 라인의 최대 값을 나타내는 숫자입니다. 최대 값과 실제 최대 값의 최대 값이 적용됩니다. 기본값은 범위의 최대 값입니다.
<br/><br/>
<b>line1</b> : (선택 사항) 수평선의 수직 위치를 나타내는 숫자. 해당 줄은 기본적으로 존재하지 않습니다.
<br/><br/>
<b>line2</b> : (선택 사항) 다른 수평선의 수직 위치를 나타내는 숫자. 해당 줄은 기본적으로 존재하지 않습니다.
<br/><br/>
<b>colorPositive</b> : (선택 사항) 값이 양수인 영역의 색상을 나타내는 문자열. 기본값은 "# 787878"입니다.
<br/><br/>
<b>colorNegative</b> : (선택 사항) 값이 음수 인 영역의 색상을 나타내는 문자열. 기본값은 "# CB0000"입니다.
</p>

<br/>
<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/Area Sparkline' src='//codepen.io/GrapeCity-Korea/embed/qreXbp/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/qreXbp/'>SpreadJS.10/Area Sparkline</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>        