<h1 class="page-header">
  사용자 정의 포멧터 | Custom Formatter
</h1>
<div id="content" class="content">
  <p>
    FormatterBase를 사용하면 셀 텍스트의 서식 지정 및 색상 지정 규칙을 사용하여 사용자 정의 포맷터를 만들 수 있습니다.
    <br/><br/> 1. FormatterBase에 클래스 기반을 만듭니다. 예를들면 :
  </p>
  <pre class="sample-code"><code class="js hljs javascript"><span class="hljs-keyword">function</span> <span class="hljs-string">CustomNumberFormat()</span> &#123;
&#125;
CustomNumberFormat.prototype = <span class="hljs-keyword">new</span> GC.Spread.Formatter.FormatterBase();</code></pre>
  <p>
    2. 셀 텍스트의 형식 및 색상에 대한 규칙을 정의하는 형식 (obj, conditionalForeColor)을 아래와 같이 제공합니다. 
  </p>
  <ul>
    <li><b>obj : 원시 셀 값입니다.</b></li>
    <li><b>conditionalForeColor : 텍스트의 색상값입니다(선택 사항). 값을 색상 문자열로 설정하여 규칙을 적용할수 있습니다.</b></li>
  </ul>
  <p>
    <b>format</b> 메소드는 형식화 된 문자열을 반환합니다. 동시에 값 범위를 기준으로 텍스트에 색을 지정할 수 있습니다. 예를들면 :
  </p>
  <pre class="sample-code"><code class="js hljs javascript"><span class="hljs-keyword">function</span> <span class="hljs-string">formatNumber</span>(value, conditionalForeColor) &#123; 
   <span class="hljs-keyword">if</span> (<span class="hljs-string">isFinite</span>(value)) &#123; 
       <span class="hljs-keyword">if</span> (value >= <span class="hljs-number">10</span>) &#123; 
           conditionalForeColor.value = <span class="hljs-string">"green"</span>; 
       &#125; <span class="hljs-keyword">else if</span> (value > <span class="hljs-number">0</span>) &#123; 
           conditionalForeColor.value = <span class="hljs-string">"gold"</span>; 
       &#125; <span class="hljs-keyword">else</span> &#123; 
           conditionalForeColor.value = <span class="hljs-string">"blue"</span>; 
       &#125;
   &#125; <span class="hljs-keyword">else</span> &#123; 
       conditionalForeColor.value = <span class="hljs-string">"red"</span>; 
   &#125;
   <span class="hljs-keyword">return</span> value.toString(); 
&#125;</code></pre>
  <p>
    3. <b>parse</b> (str)를 사용하여 지정된 문자열에서 파싱 된 값을 반환합니다.</p>
  <h2>
    샘플코드:
  </h2>
  <p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/Custom Formatter' src='//codepen.io/GrapeCity-Korea/embed/WRmqGa/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/GrapeCity-Korea/pen/WRmqGa/'>SpreadJS.10/Custom Formatter</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>