<h1 class="page-header">
 Compatible 스파크라인 | Compatible Sparkline
</h1>
<div id="content" class="content">
<p>함수에는 다음과 같은 매개 변수가 있습니다. <br/><br/>
<b>data</b>: 스파크 라인 데이터를 나타내는 "A1 : C3"와 같은 범위 레퍼런스.<br/><br/>
<b>dataOrientation</b>: 스파크 라인 데이터 방향을 나타내는 숫자입니다. 다음 중 하나입니다.
</p>
<ul>
  <li><b>vertical - 0</b></li>
  <li><b>horizontal - 1</b></li>
</ul>  
<p>
<b>dataAxisData</b> : (선택 사항) 스파크 라인 날짜 축 데이터를 나타내는 "D1 : F3"와 같은 범위 레퍼런스.<br/><br/>
<b>dataAxisOrientation</b> :  (선택 사항) 스파크 라인 날짜 축 방향을 나타내는 숫자입니다. 다음 중 하나입니다.

</p>

<ul>
  <li><b>vertical - 0</b></li>
  <li><b>horizontal - 1</b></li>
</ul> 
<p>
<b>setting</b> : (선택 사항) JSON 형식의 문자열. 각 항목은 GC.Spread.Sheets.Sparklines.SparklineSetting과 동일한 정의를 유지합니다.
  
</p>
<br/>
<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/Compatible Sparkline' src='//codepen.io/GrapeCity-Korea/embed/xdKNOz/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/xdKNOz/'>SpreadJS.10/Compatible Sparkline</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>        