<h1 class="page-header">
  동작 지원 | Action Support
</h1>
<div id="content" class="content">
<p>
다음 작업은 태그에 영향을 미칩니다.
<br/>
잘라 내기 및 붙여 넣기 또는 드래그 앤 드롭 동작이 발생하면 태그 데이터가 셀과 함께 이동합니다.
<br/>
복사, 붙여 넣기 또는 끌기 및 채우기 동작이 발생하면 태그 데이터가 복사됩니다. 태그 유형이 복합 유형이면  복사됩니다.
<br/>
태그 작업은 완료된 후에 실행 취소하거나 다시 실행할 수 있습니다.
</p>  
<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/Action Support' src='//codepen.io/GrapeCity-Korea/embed/MJqpBg/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/MJqpBg/'>SpreadJS.10/Action Support</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>      