<h1 class="page-header">
  확장영역 붙여넣기 | Paste Extend Range
</h1>
<div id="content" class="content">
<p>
1. Spread.Sheets는 붙여 넣기 범위가 붙여 넣기에 충분하지 않은 경우 붙여 넣기 범위를 확장하는 것을 지원합니다.
<br/><br/>
2.이 기능을 사용하려면 통합 문서 옵션을 설정하십시오. <b>allowExtendPasteRange</b>를 true로 설정하십시오. 예 :
</p>  
<pre class="sample-code"><code class="js hljs javascript">workbook.options.allowExtendPasteRange = <span class="hljs-number">true</span>; </code></pre>  
<p>
그런 다음 붙여 넣기 범위가 붙여 넣기에 충분하지 않으면 Spread.Sheets가 붙여 넣기 범위를 확장합니다. <b>기본값은 false입니다.</b>
</p>  
<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/Paste Extend Range' src='//codepen.io/GrapeCity-Korea/embed/GrzEeL/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/GrzEeL/'>SpreadJS.10/Paste Extend Range</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>                