<h1 class="page-header">
    Spread 배경화면 | Spread Background
</h1>
<div id="content" class="content">
    <p>1. 스프레드 시트의 배경 모양을 사용자 정의 할 수 있습니다.</p>
    <br/>
    <p>2. backColor 또는 backgroundImage를 사용하여 모든 시트의 배경색 또는 배경 이미지를 설정할 수 있습니다. 배경색과 배경 이미지를 모두 설정하면 배경 이미지가 표시됩니다. 이미지가 표시됩니다. </p>
    <pre class="sample-code"><code class="js hljs javascript"><span class="hljs-keyword">var</span> spread = $(<span class="hljs-string">'#ss'</span>).data(<span class="hljs-string">'workbook'</span>);
spread.options.backColor = <span class="hljs-string">'red'</span>;
<span class="hljs-comment">// The backColor will work if the backgroundImage not set.</span>  
spread.options.backgroundImage = <span class="hljs-string">'images/back.PNG'</span>;</code></pre>
    <p>Spread.Sheets는 <b>backgroundImageLayout</b>을 사용하여 이미지 레이아웃을 제어하는 기능을 제공합니다. 이미지 레이아웃에는 다음 유형이 포함됩니다. :</p>
     <ul>
      <li><b>stretch: 영역의 크기가 변경 되더라도 배경 이미지가 영역을 채웁니다.</b></li>
      <li><b>center: 배경 이미지가 영역의 중앙에 표시됨을 나타냅니다. </b></li>
      <li><b>zoom: 원래의 비율을 유지하면서 배경 이미지가 영역에 표시됨을 나타냅니다. </b></li>
      <li><b>none: 배경 이미지가 원본 영역이있는 영역의 왼쪽 위 모서리에 표시됨을 나타냅니다. </b></li>
      </ul>
     <pre class="sample-code"><code class="js hljs javascript">spread.options.backgroundImageLayout = GC.Spread.Sheets.ImageLayout.stretch; </code></pre>   
    <br/>
    <p>
        3. <b>grayAreaBackColor</b>를 사용하여 시트 뒤에 있는 회색 영역의 배경색을 설정할 수도 있습니다.
    </p>
    <pre class="sample-code"><code class="js hljs javascript">spread.options.grayAreaBackColor = <span class="hljs-string">'gray'</span>; </code></pre>

 

    <br/>
    <h2>
        샘플코드:
    </h2>
    <p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
    <!--<iframe height='520px' scrolling='no' title='SpreadJS.10/Initialize' src='//codepen.io/GrapeCity-Korea/embed/xRvVYO/?height=502&theme-id=light&default-tab=result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true'
        style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/xRvVYO/'>SpreadJS.10/Initialize</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>-->
    <iframe height='630' scrolling='no' title='SpreadJS.10/Background' src='//codepen.io/GrapeCity-Korea/embed/eBqvyj/?height=630&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true'
        style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/eBqvyj/'>SpreadJS.10/Background</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe></div>