<h1 class="page-header">
  탭 스트립 | TabStript
</h1>
<div id="content" class="content">
  <p>1. 스프레드시트 탭 스트립은 Excel과 유사합니다. 탐색 버튼을 클릭하여 시트 탭을 이동하고 시트 탭을 클릭하여 활성 시트를 변경하고 시트 탭을 드래그하여 시트 목록의 순서를 변경 한 다음 탭 스트립 스플리터를 드래그하여 탭 스트립 폭의 크기를 조정할 수 있습니다. 또한 탭 스트립을 사용자 정의 할 수 있습니다.</p>  
  <br/>
  <p>2. <b>tabStripVisible</b>을 설정하여 탭 스트립을 표시할지 여부를 제어 할 수 있습니다. 또한 새 탭을 표시하지 않으려면 <b>newTabVisible</b>을 false로 설정하십시오.</p>
  <pre class="sample-code"><code class="js hljs javascript"><span class="hljs-keyword">var</span> spread = $(<span class="hljs-string">'#ss'</span>).data(<span class="hljs-string">'workbook'</span>);
spread.options.tabStripVisible = <span class="hljs-number">false</span>;
<span class="hljs-comment">//Also you can set tabStripVisible to true.</span>   
spread.options.newTabVisible = <span class="hljs-number">false</span>;
<span class="hljs-comment">//Also you can set newTabVisible to true.</span></code></pre>

  <br/>
  <p>
    3. 시트의 이름 목록은 탐색 버튼 바로 뒤에 표시됩니다. 시트 탭을 두 번 클릭하여 시트의 이름을 바꿀 수 있습니다. 이름을 두 번 클릭하거나 편집하여 시트 이름을 변경하지 않으려면 펼치기 옵션 <b>tabEditable</b>을 false로 설정하십시오. 스프레드 옵션 <b>allowSheetReorder</b>를 설정하여 시트 탭을 드래그하여 시트 목록의 순서를 변경할 수 있는지 여부를 제어 할 수 있습니다.
  </p>
  <pre class="sample-code"><code class="js hljs javascript">spread.options.tabEditable = <span class="hljs-number">true</span>; 
spread.options.allowSheetReorder = <span class="hljs-number">true</span>; </code></pre>

  <p>스프레드 옵션 인 sheetTabColor를 사용하여 시트 탭의 색상을 사용자 정의 할 수 있습니다. </p>
<pre class="sample-code"><code class="js hljs javascript"><span class="hljs-keyword">var</span> sheet = spread.getActiveSheet();
sheet.options.sheetTabColor = <span class="hljs-string">'red'</span>;</code></pre>


  <p>4. 탭 스트립 스플리터를 드래그하여 탭 스트립의 너비를 조정할 수 있습니다. 또한 펼침 옵션 <b>tabStripRatio</b>를 사용하여 탭 스트립의 너비 비율을 가져오고 설정할 수 있습니다.</p>
  <pre class="sample-code"><code class="js hljs javascript"><span class="hljs-keyword">var</span> ratio = spread.options.tabStripRatio;
 spread.options.tabStripRatio = <span class="hljs-number">0.6</span>;</code></pre>

<br/>
<p>
5. 펼치기 옵션 <b>tabNavigationVisible</b>을 설정하여 show (default)를 제어하거나 탭 네비게이션 관련 항목을 숨길 수 있습니다.
</p>
<pre class="sample-code"><code class="js hljs javascript">spread.options.tabNavigationVisible = <span class="hljs-number">false</span>;<span class="hljs-comment"> // false: hide, true: show</span></code></pre>
<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='630' scrolling='no' title='SpreadJS.10/Tab Strip' src='//codepen.io/GrapeCity-Korea/embed/VmojzB/?height=630&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/VmojzB/'>SpreadJS.10/Tab Strip</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>