<h1 class="page-header">
  스크롤바 | Scroll Bar
</h1>
<div id="content" class="content">
  <p>1.Spread.Sheets의 가로 및 세로 스크롤 바를 사용하여 시트를 이동하여 시트의 일부를 볼 수 있습니다.</p>

  <br/>
  <p>2. 스크롤 바는 화살표 버튼, 스크롤 박스 및 스크롤 박스 컨테이너로 구성됩니다. Spread의 스크롤 바를 사용하면 화살표 버튼을 누르거나 스크롤 박스를 드래그하거나 스크롤 박스와 화살표 버튼 사이의 간격을 클릭 할 수 있습니다. 이러한 동작은 다음과 같은 결과를 제공합니다:</p>
  <ul>
    <li><b>한 번에 한 행 또는 열을 스크롤하려면 화살표 단추를 누릅니다. </b></li>
    <li><b>스크롤 박스를 위아래로 드래그하여 시트를 위아래로 스크롤합니다 (또는 왼쪽 및 오른쪽). </b></li>
    <li><b>스크롤 박스와 화살표 단추 사이의 간격을 클릭하여 시트를 한 페이지 스크롤합니다. </b></li>
  </ul>
  <br/>
  <p>
    3. Spread.Sheets는 스크롤 박스를 끌 때 스크롤 도구 설명을 표시 할 수 있습니다. <b>showScrollTip</b> 옵션 항목을 사용하여 표시 할 스크롤 도구 설명 유형을 설정할 수 있습니다. 스크롤 툴팁은 스크롤 박스를 끌 때 뷰의 맨 위 행 또는 왼쪽 열의 번호를 표시합니다. 
  </p>
  <pre class="sample-code"><code class="js hljs javascript"><span class="hljs-keyword">var</span> spread = $(<span class="hljs-string">'#ss'</span>).data(<span class="hljs-string">'workbook'</span>);
spread.options.showScrollTip = GC.Spread.Sheets.ShowScrollTip.horizontal;
spread.options.showScrollTip = GC.Spread.Sheets.ShowScrollTip.vertical;
spread.options.showScrollTip = GC.Spread.Sheets.ShowScrollTip.both;
spread.options.showScrollTip = GC.Spread.Sheets.ShowScrollTip.none;</code></pre>

  <br/>
  <p><b>3. showVerticalScrollbar</b> 및 <b>showHorizontalScrollbar</b> 옵션 항목을 사용하여 스크롤 바를 표시할지 여부를 제어 할 수 있습니다.</p>
  <pre class="sample-code"><code class="js hljs javascript"><span class="hljs-keyword">var</span> spread = $(<span class="hljs-string">'#ss'</span>).data(<span class="hljs-string">'workbook'</span>);
spread.options.showVerticalScrollbar = <span class="hljs-number">false</span>;
spread.options.showHorizontalScrollbar = <span class="hljs-number">false</span>;</code></pre>
<br/>
<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='630' scrolling='no' title='SpreadJS.10/Scroll Bar' src='//codepen.io/GrapeCity-Korea/embed/BQXpeN/?height=630&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/BQXpeN/'>SpreadJS.10/Scroll Bar</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>