<h1 class="page-header">
  기본 함수 | Basic Function
</h1>
<div id="content" class="content">
<p>
1. 스프레드 시트에서 일부 셀의 내용을 사용하는 수식을 만들어 다른 셀에 결과를 표시 할 수 있습니다. 다양한 함수를 사용하여 복잡한 수식을 쉽게 계산할 수도 있습니다. <br/><br/>
2. 스프레드 시트는 다양한 기능을 제공합니다. : <b>SUM</b>과 같이 일반적으로 사용되는 몇 가지 기본 기능과 <b>MAX</b>와 같은 일부 고급 기능은 다음 공식 코드에서 설명하고 설명합니다.
</p>  
<pre class="sample-code"><code class="html hljs xml"> <span class="hljs-comment">//Returns the sum of the values contained in the range A1:C5.</span>
=SUM(A1:C5)
<span class="hljs-comment">//Returns the largest value in the range A1:C5.</span>
=MAX(A1:C5)</code></pre>
<p>
= SUM (A1 : C5)을 셀에 직접 입력 할 수 있습니다. 또는 setFormula 메소드를 사용하여 수식을 적용 할 수 있습니다.
</p>  
<pre class="sample-code"><code class="html hljs xml"><span class="hljs-keyword">var</span> spread = $(<span class="hljs-string">'#ss'</span>).data(<span class="hljs-string">'workbook'</span>);
<span class="hljs-keyword">var</span> sheet = spread.getActiveSheet();
<span class="hljs-comment">// set some values to C4:C7</span>
sheet.setFormula(<span class="hljs-number">8</span>,<span class="hljs-number">2</span>, <span class="hljs-string">'=MAX(C4:C7)'</span>);</code></pre>


<br/>
<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/Basic Functions' src='//codepen.io/GrapeCity-Korea/embed/qROrZa/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/qROrZa/'>SpreadJS.10/Basic Functions</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>  