<h1 class="page-header">
  학사 일정
</h1>
<div id="content" class="content">
  <p>수업 일정을 보여주고 과제에 관한 정보를 기록하는 학생들을위한 일정표 입니다.</p>
  <p>Spread.Sheets는 <b>fromJSON</b>을 사용하여 저장된 파일의 데이터를로드합니다.</p>
  
<pre class="sample-code"><code class="js hljs javascript"><span class="hljs-keyword">var</span> sd = <span class="hljs-string">JSON</span>.parse(data);
spread.suspendPaint();
spread.fromJSON(sd[0]);
spread.resumePaint();</code></pre> 

<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/Student Calendar' src='//codepen.io/GrapeCity-Korea/embed/JWYPxG/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/GrapeCity-Korea/pen/JWYPxG/'>SpreadJS.10/Student Calendar</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe></div>