<h1 class="page-header">
  SpreadJS - Spread.Sheets 요구사양
</h1>
<div id="content" class="content">
  <p class="ng-scope">    
    <p><strong>Spread.Sheets는 다음의 브라우저를 지원합니다.</strong></p>
    <br/>
    <div style="padding-left: 40px">
    <blockquote>
      <p>
        Microsoft IE9+  (도구 아래의 호환성보기에 인트라넷 사이트 표시 옵션을 선택 취소합니다.)
      </p>
      <p>
        Mozilla FireFox
      </p>
      <p>
        Safari
      </p>
      <p>
        Google Chrome
      </p>
    </blockquote>

    </div>
    <br/>
    <p>브라우저가 HTML5를 지원해야합니다.</p>
    <p>클라이언트 단의, Excel 가져오기/내보내기 서비스를 위해서는 IE10+ 이 필요합니다.</p>
    <p>서버 단의, Excel 가져오기/내보내기 구성요소를 사용하기 위해서는 4.0 .NET Framework 및 Microsoft Windows Platform이 필요합니다.</p>    


  
   

   
</div>