<h1 class="page-header">
  테이블 스타일 | Table Style
</h1>
<div id="content" class="content">
<p>1. Spread.Sheets은 테이블 작업을 위한 많은 API를 제공합니다. 이러한 API를 사용하면 관련 데이터의 그룹화를보다 쉽게 관리하고 분석 할 수 있습니다.
<br/><br/>
2. 테이블의 머리글 또는 바닥 글을 표시할지 여부, 행 스타일 또는 열 스타일을 번갈아 표시할지 여부, 첫 번째 열 또는 마지막 열을 강조 표시할지 여부를 제어 할 수 있습니다. 예 : </p>
<br/>
<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/Custom Table' src='//codepen.io/GrapeCity-Korea/embed/apvWgR/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/apvWgR/'>SpreadJS.10/Custom Table</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>    