<h1 class="page-header">
 상자그림 스파크라인 | Boxplot Sparkline
</h1>
<div id="content" class="content">
<p>BoxPlotSparkline 함수를 사용하여 boxplot 스파크 라인을 만들 수 있습니다. <br/><br/>
<b>= BOXPLOTSPARKLINE (points, boxPlotClass ?, showAverage?, scaleStart?, scaleEnd ?, acceptableStart ?, acceptableEnd, colorScheme?, style ?, vertical?).
</b>
<br/><br/>
이 함수에는 다음과 같은 매개 변수가 있습니다.
<br/><br/>
<b>points</b> : "A1 : A4"와 같이 설명 할 모든 값을 포함하는 셀 범위를 나타내는 레퍼런스입니다.
<br/><br/>
<b>boxPlotClass</b> : (선택 사항) boxPlot 클래스입니다. 다음 중 하나입니다.
</p>

<ul>
<li><b>5ns (기본값)</b></li>
<li><b>7ns</b></li>
<li><b>tukey</b></li>
<li><b>bowley</b></li>
<li><b>sigma 3</b></li>
</ul>
<p>
<b>showAverage</b> : (선택 사항) 평균을 표시할지 여부를 나타내는 Boolean 값입니다. 기본값은 false입니다.
<br/><br/>
<b>scaleStart</b> : (선택 사항) 스파크 라인의 최소 경계를 나타내는 숫자 또는 레퍼런스 (예 : 1 또는 "A6"). 기본값은 모든 값 중 최소값입니다.
<br/><br/>
<b>scaleEnd</b> : (선택 사항) 스파크 라인의 최대 경계를 나타내는 숫자 또는 레퍼런스 (예 : 8 또는 "A7"). 기본값은 모든 값의 최대 값입니다.
<br/><br/>
<b>acceptableStart</b> : (선택 사항) 허용되는 행의 시작을 나타내는 숫자 또는 레퍼런스 (예 : 3 또는 "A8"). 기본값은 null입니다.
<br/><br/>
<b>acceptableEnd</b> : (선택 사항) 5 또는 "A9"와 같이 허용되는 줄의 끝을 나타내는 숫자 또는 레퍼런스입니다. 기본값은 null입니다.
<br/><br/>
<b>colorScheme</b> : (선택 사항) 스파크 라인 상자의 색상을 나타내는 문자열. 기본값은 "# D2D2D2"입니다.
<br/><br/>
<b>style</b> : (선택 사항) boxPlot 스파크 라인의 스타일을 나타내는 숫자 또는 레퍼런스입니다. 다음 중 하나입니다.
</p>
<ul>
<li><b>0 : (기본값) 클래식 스타일 - 수염 모양이 선이고 바깥 값이 원입니다.</b></li>
<li><b>1 : Neo 스타일 - 수염 모양이 직사각형이며 이상 치가 선입니다.</b></li>
</ul>
<p>
<b>vertical</b> : (선택 사항) 스파크 라인을 세로로 표시할지 여부를 나타내는 Boolean 값입니다. 기본값은 false입니다.


</p>

<br/>
<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/BoxPlot Sparkline' src='//codepen.io/GrapeCity-Korea/embed/mRVqBe/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/mRVqBe/'>SpreadJS.10/BoxPlot Sparkline</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>    