<h1 class="page-header">
  Welcome to SpreadJS - Spread.Sheets
</h1>
<div id="content" class="content">
  <p>
    Spread.Sheets는 SpreadJS 제품군에 속하는 스프레드시트 컴포넌트입니다. 이 혁신적인 JavaScript 스프레드시트 컴포넌트를 사용하면 Microsoft Excel을 사용하는 것처럼 데이터를 표시하고
    관리할 수 있습니다. 자주 사용되는 기능으로는 수식 엔진, 정렬, 필터링, 입력 컨트롤, 스파크라인 및 Excel 입력/출력이 있습니다.
  </p>  

  <div class="row placeholders">
    <div class="col-sm-9 placeholder">
      <hr>
<!-- ************************************************************************************************************************* -->
      <h3>
        높은 속도, 소규모 사용 공간
      </h3>
      <ul>
        <li>
          <p><b>순수한 JavaScript:</b><br/> SpreadJS에는 jQuery와 같은 외부 라이브러리나 프레임워크가 필요하지 않습니다. 외부 프레임워크가 지원되나 필수 사항은 아닙니다. </p>
          <li>
            <p><b>필요한 기능만 사용할 수 있는 모듈식 구조:</b><br/> SpreadJS는 모듈화되어 있으므로, 필요한 기능이 포함된 JavaScript만 로드하여 웹 페이지 또는 응용 프로그램의 페이로드
              크기를 최적화할 수 있습니다.
            </p>
          </li>
          <li>
            <p><b>고성능 캔버스 렌더링:</b><br/> SpreadJS는 HTML 캔버스에 정교한 보기를 렌더링함으로써 모든 브라우저에서 정확하고 빠른 대화식 사용자 경험을 제공합니다.
            </p>
          </li>
      </ul>
    </div>
    <div class="col-sm-3 placeholder">      
      <h3>
        <img src="http://www.componentone.co.kr/imgs/products/spread/highspeed.png" width="250px" height="250px" class="img-responsive"
          alt="Generic placeholder thumbnail">
      </h3>
    </div>
  </div>


  <div class="row placeholders">
    <div class="col-sm-9 placeholder">
      <h3>
        <p>
          어디서나 사용 가능
        </p>
      </h3>
      <ul>
        <li>
          <p><b>플랫폼 독립형:</b><br/> SpreadJS는 클라이언트 측 컴포넌트이므로 Windows, Linux, MacOS뿐만 아니라 Android와 iOS 등의 모바일 운영 체제에서도 작동합니다.</p>
          <li>
            <p><b>모든 최신 브라우저에서 실행:</b><br/> SpreadJS는 Chrome, Firefox, Safari, Edge 및 Internet Explorer의 모바일 폼과 데스크톱 폼 모두에서
              테스트를 완료했습니다.
            </p>
          </li>
          <li>
            <p><b>터치 지원:</b><br/> 터치 기반 장치에서는 터치 컨트롤을 이용할 수 있습니다
            </p>
          </li>
      </ul>
    </div>
    <div class="col-sm-3 placeholder">
      <h3>
        <img src="http://www.componentone.co.kr/imgs/products/spread/works.png" width="250px" height="250px" class="img-responsive"
          alt="Generic placeholder thumbnail">
      </h3>
    </div>
  </div>



</div>
<br/>
<br/>
<h2 class="page-header">
  인기있는 튜토리얼
</h2>
<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive"
      alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive"
      alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive"
      alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive"
      alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
  </div>
</div>

<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive"
      alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive"
      alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive"
      alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive"
      alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
  </div>
</div>
