<h1 class="page-header">
  기본 터치 | Basic Touch
</h1>
<div id="content" class="content">
  <p>
    1. 스프레드 시트는 터치를 지원합니다.
  </p>
  <p>
    2. 스프레드 시트는 다음 플랫폼에서 터치를 지원합니다.
  </p>
  <ul>
    <li><b>데스크톱 : Windows - IE 9 이상, Chrome, Firefox, Opera</b></li>
    <li><b>태블릿 PC : iPad - Chrome, Safari; Android pad - Chrome; Surface--IE 10이상</b></li>
    <li><b>모바일 : Android - Chrome; Windows Phone : IE 10 이상</b></li>
  </ul>
  <p>
    3. <b>useTouchLayout</b>을 사용하면 터치 레이아웃을 사용하여 스프레드 위젯을 표시할지 여부를 가져오고 설정할 수 있습니다. 터치 레이아웃에서 컨트롤을 손쉽게 터치로 조작 할 수 있습니다.
  </p>
  <pre class="sample-code"><code class="js hljs javascript">spread.options.useTouchLayout = <span class="hljs-number">true;</span></code></pre>
  <p>
    4. 스프레드 시트는 터치 모드에서 스크롤, 확대 / 축소, 선택, 크기 조정, 드래그 채우기, 그룹, cellType, 자동 맞춤, 필터, 편집, tabStrip 및 toolStrip등 많은 기능을 지원합니다.
  </p>
  <h2>
    샘플코드:
  </h2>
  <p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
 <iframe height='520' scrolling='no' title='SpreadJS.10/Basic Touch' src='//codepen.io/GrapeCity-Korea/embed/qRzpKj/?height=520&theme-id=light&default-tab=html,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/qRzpKj/'>SpreadJS.10/Basic Touch</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe></div>