<h1 class="page-header">
 Bullet 스파크라인 | Bullet Sparkline
</h1>
<div id="content" class="content">
<p>BulletSparkline 함수를 사용하여 bullet 스파크 라인을 만들 수 있습니다
<br/><br/>
=<b>BULLETSPARKLINE(measure, target, maxi, good?, bad?, forecast?, tickunit?, colorScheme?, vertical?).</b> <br/><br/>
이 함수에는 다음과 같은 매개 변수가 있습니다. <br/><br/>
<b>measure</b> : 5 또는 "A1"과 같이 측정 막대의 길이를 나타내는 숫자 또는 레퍼런스입니다. <br/><br/>
<b>target</b> : 대상 행의 위치를 ​​나타내는 번호 또는 레퍼런스 (예 : 7 또는 "A2"). <br/><br/>
<b>maxi</b> : 스파크 라인의 최대 값을 나타내는 숫자 또는 레퍼런스 (예 : 10 또는 "A3"). <br/><br/>
<b>good</b> : (선택 사항) 좋은 막대의 길이를 나타내는 숫자 또는 레퍼런스 (예 : 3 또는 "A4"). 기본값은 0입니다.<br/><br/>
<b>bad</b> : (선택 사항) 나쁜 막대의 길이를 나타내는 숫자 또는 레퍼런스 (예 : 1 또는 "A5"). 기본값은 0입니다.<br/><br/>
<b>forecast</b> : (선택 사항) 예측 선의 길이를 나타내는 숫자 또는 레퍼런스 (예 : 8 또는 "A6"). 기본값은 0입니다.<br/><br/>
<b>tickunit</b> : (선택 사항) 눈금 단위를 나타내는 숫자 또는 레퍼런스 (예 : 1 또는 "A7"). 기본값은 0입니다.<br/><br/>
<b>colorScheme</b> : (선택 사항) 스파크 라인을 표시 할 색상 그룹을 생성하기위한 색 구성표를 나타내는 문자열. 기본값은 "# A0A0A0"입니다.<br/><br/>
<b>vertical</b> : (선택 사항) 스파크 라인을 세로로 표시할지 여부를 나타내는 Boolean입니다. 기본값은 false입니다.<br/><br/>
</p>

<br/>
<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/Bullet Sparkline' src='//codepen.io/GrapeCity-Korea/embed/GroQEP/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/GroQEP/'>SpreadJS.10/Bullet Sparkline</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>      