<h1 class="page-header">
  네비게이션 동작 | Navigation Actions
</h1>
<div id="content" class="content">
<p>1. Spread.Sheets은 SpreadActions에 정의 된 탐색 동작을 지원합니다. </p>
<ul>
  <li><b>moveToNextCell : 다음 셀로 이동합니다 (Tab의 기본 동작).</b></li>
  <li><b>moveToPreviousCell : 이전 셀로 이동합니다 (Shift + Tab의 기본 동작). </b></li>
  <li><b>selectNextControl : 지정되지 않은 경우 spread.nextControl 지정된 요소 또는 자동 감지 된 요소를 선택합니다. </b></li>
  <li><b>selectPreviousControl : 설정되지 않은 경우 spread.previousControl 지정된 요소 또는 자동 감지 된 요소를 선택합니다. </b></li>
  <li><b>moveToNextCellThenControl : Active 셀이 마지막으로 표시된 셀이면 다음 셀로 이동 한 후 다음 컨트롤을 선택합니다. </b></li>
  <li><b>moveToPreviousCellThenControl : Active 셀이 첫 번째 보이는 셀이면 이전 셀로 이동 한 다음 이전 컨트롤을 선택합니다. </b></li>
</ul>
<p>
2. nextControl 및 previousControl 메서드를 사용하여 선택한 컨트롤을 설정합니다. 예 :
</p>  
<pre class="sample-code"><code class="js hljs javascript"><span class="hljs-comment">// 다음 및 이전 컨트롤 설정</span>
spread.nextControl(<span class="hljs-keyword">document</span>.getElementById(<span class="hljs-string">'myNextControl'</span>));
spread.previousControl(<span class="hljs-keyword">document</span>.getElementById(<span class="hljs-string">'myPreviousControl'</span>));

<span class="hljs-comment">// auto detect에 의해 하나를 지정하지 않고 undefined로 설정합니다.</span>
spread.nextControl(<span class="hljs-comment">undefined</span>);</code></pre>      
<p>
3. 등록 메소드를 사용하여 네비게이션 키와 해당 조치를 설정하십시오. 예 :
</p>  
<pre class="sample-code"><code class="js hljs javascript"><span class="hljs-comment">// 탭을 설정하여 다음 컨트롤 선택</span>
spread.commandManager().register(<span class="hljs-string">'selectNextControl'</span>, GC.Spread.Sheets.Commands.selectNextControl, GC.Spread.Commands.Key.tab, <span class="hljs-number">false</span>, <span class="hljs-number">false</span>, <span class="hljs-number">false</span>, <span class="hljs-number">false</span>);
<span class="hljs-comment">// 이전 컨트롤을 선택하려면 Shift + Tab을 설정하십시오. </span>
spread.commandManager().register(<span class="hljs-string">'selectPreviousControl'</span>, GC.Spread.Sheets.Commands.selectPreviousControl, GC.Spread.Commands.Key.tab, <span class="hljs-number">false</span>, <span class="hljs-number">true</span>, <span class="hljs-number">false</span>, <span class="hljs-number">false</span>);</code></pre>        
<p>register의 인수는 다음과 같습니다. </p>
<ul>
  <li><b>name : 명령의 이름. </b></li>
  <li><b>execute : 명령의 실행 기능.  </b></li>
  <li><b>key: 키의 유니 코드입니다.  </b></li>
  <li><b>ctrl: 액션이 Ctrl 키를 사용하면 True입니다. 그렇지 않으면 false입니다. </b></li>
  <li><b>shift: 액션이 Shift 키를 사용하면 True, 그렇지 않으면 false입니다. </b></li>
  <li><b>alt: 액션이 Alt 키를 사용하면 True, 그렇지 않으면 false입니다.</b></li>
  <li><b>meta: Microsoft Windows의 Macintosh 또는 Windows 키에서 작업이 Command 키를 사용하면 True입니다. 그렇지 않으면 false입니다.  </b></li>
</ul>
<p>4. Spread가 포커스를 잃을 때 선택을 숨기려면 <b>hideSelection</b> 옵션을 사용하십시오. 예 : </p>  
<pre class="sample-code"><code class="js hljs javascript">spread.options.hideSelection = <span class="hljs-number">true</span>; </code></pre>   
<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/Navigation Actions' src='//codepen.io/GrapeCity-Korea/embed/YNdLVK/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/YNdLVK/'>SpreadJS.10/Navigation Actions</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>            