<h1 class="page-header">
  SpreadJS - Spread.Sheets 설치안내
</h1>
<div id="content" class="content">
  <p class="ng-scope">
    <p>Spread.Sheets를 설치하려면 다음 단계를 따르면 됩니다.</p>
    <p><strong>Spread.Sheets을 설치하기 위해,</strong></p>
    <blockquote>
      <p>
        1.다운로드 한 ZIP 파일 (Spread.Sheetsxxxx.zip)을 시스템의 원하시는 디렉토리에 저장한 다음 파일을 해당 디렉토리에 압축을 풉니다.
      </p>
    </blockquote>
    <br/>


    <h3 class="sub-header">기본 Spread.Sheets 폴더 (Windows 기준)</h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr align="left" valign="top">
            <th valign="top" width="30%">Install Directory</th>

            <th>File</th>

            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr valign="top">
            <td>\Spread.Sheets.xxxx</td>

            <td>&nbsp;</td>

            <td>Main directory for product</td>
          </tr>

          <tr>
            <td>\Spread.Sheets.xxxx\css</td>

            <td>&nbsp;</td>

            <td>CSS files</td>
          </tr>

          <tr>
            <td>\Spread.Sheets.xxxx\samples</td>

            <td>&nbsp;</td>

            <td>Sample pages for the widget</td>
          </tr>

          <tr>
            <td>\Spread.Sheets.xxxx\scripts</td>

            <td>gc.spread.sheets.all.xxxx.min</td>

            <td>Minimized js file for widget which includes all functions</td>
          </tr>

          <tr>
            <td>\Spread.Sheets.xxxx\definition</td>

            <td>GC.spread.sheets.d.ts</td>

            <td>TypeScript API definition file</td>
          </tr>

          <tr>
            <td>\Spread.Sheets.xxxx\scripts\pluggable</td>

            <td>&nbsp;</td>

            <td>Pluggable js files</td>
          </tr>

          <tr>
            <td>\Spread.Sheets.xxxx\scripts\interop</td>

            <td>angular.gcspread.sheets.xxxxx.min</td>

            <td>AngularJS support files</td>
          </tr>

          <tr>
            <td>&nbsp;</td>

            <td>gc.spread.excelio.xxxxx.min</td>

            <td>Client-side Excel import and export support files</td>
          </tr>

          <tr>
            <td>&nbsp;</td>

            <td>gc.spread.sheets.migration.xxxxx.min</td>

            <td>Migration file for backward compatibility</td>
          </tr>

          <tr>
            <td>\Spread.Sheets.xxxx\scripts\resources</td>

            <td>ja\gc.spread.sheets.resources.ja.xxxxx.min<br /> zh\gc.spread.sheets.resources.zh.xxxx.min
            </td>

            <td>Japanese and Chinese resource files</td>
          </tr>
        </tbody>
      </table>
    </div>

    <br/>
    <p><strong>Spread.Sheets 디자이너를 설치하기 위해,</strong></p>
    <blockquote>
      <p>
        1.다운로드 한 ZIP 파일 (SpreadSheetsDesigner.zip)을 시스템의 원하시는 디렉토리에 저장한 다음 파일을 해당 디렉토리에 압축을 풉니다.
      </p>
      <p>
        2.사용자 환경에 맞는 설치 파일을 실행하십시오.
      </p>
      <p>
        3.디자이너를 실행하고 자물쇠 아이콘을 선택한 다음 라이센스 키를 입력하여 Spread.Sheets 디자이너의 잠금을 해제하십시오.
      </p>
    </blockquote>

    <p><strong>Note:</strong> 체험판의 디자이너를 설치한 분들은, 잠금 해제를 위해서는 정식 버전의 디자이너로 재설치 해주시길 바랍니다.</p>
    <br/>
    <br/>
    
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Platform</th>

            <th>Setup</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Windows</td>

            <td>Spread.Sheets-Designer-Evaluation-Setup.10.0.0.exe or Spread.Sheets-Designer-Production-Setup.10.0.0.exe</td>
          </tr>

          <tr>
            <td>Mac</td>

            <td>Spread.Sheets-Designer-Evaluation-10.0.0.dmg or Spread.Sheets-Designer-Production-10.0.0.dmg</td>
          </tr>

          <tr>
            <td>Linux</td>

            <td>Spread.Sheets-Designer-Evaluation-10.0.0-x86_64.AppImage or Spread.Sheets-Designer-Production-10.0.0-x86_64.AppImage</td>
          </tr>
        </tbody>
      </table>
    </div>

    <br/>
    <br/>

    <p><strong>기본 Spread.Sheets 디자이너 폴더 :</strong></p>


    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr align="left" valign="top">
            <th valign="top" width="30%">Install Directory</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr valign="top">
            <td>C:\Program Files (x86)\Spread.Sheets Designer\10.0.0</td>

            <td>Designer directory for product</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>