<h1 class="page-header">
  위치 고정 | Fixed Position
</h1>
<div id="content" class="content">
<p>
1. fixedPosition 메서드를 사용하여 플로팅 객체를 고정 된 위치에 표시할지 여부를 설정할 수 있습니다. 
</p>
<pre class="sample-code"><code class="js hljs javascript">picture.fixedPosition (<span class="hljs-number">true</span>); </code></pre>   
<p>2. 플로팅 객체 (그림 또는 FloatingObject)의 <b>fixedPosition</b>이 true 일 때 행 또는 열을 스크롤하거나 숨기거나 표시하거나, 크기 조정 또는 이동 한 후에는 플로팅 객체의 위치가 변경되지 않습니다.
<br/><br/>
3. fixedPosition이 true이면 <b>dynamicMove</b> 및 <b>dynamicSize</b>가 무시됩니다.
<br/><br/>
4. fixedPosition이 true이면 플로팅 객체를 이동하거나 크기를 조정할 수 있습니다.
<br/><br/>
5. fixedPosition이 true이면 다음 속성이 이전처럼 작동합니다. </p>
<ul>
   <li><b>position  </b></li>
   <li><b>height  </b></li>
   <li><b>width  </b></li>
   <li><b>startRow  </b></li>
   <li><b>startRowOffset  </b></li>
   <li><b>startColumn  </b></li>
   <li><b>startColumnOffset  </b></li>
   <li><b>endRow  </b></li>
   <li><b>endRowOffset  </b></li>
   <li><b>endColumn  </b></li>
   <li><b>endColumnOffset  </b></li>
</ul>  
<br/>
<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/Fixed Position' src='//codepen.io/GrapeCity-Korea/embed/pRaOdw/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/pRaOdw/'>SpreadJS.10/Fixed Position</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>  