<h1 class="page-header">
 Vari 스파크라인 | Vari Sparkline
</h1>
<div id="content" class="content">
<p>VariSparkline 함수를 사용하여 Vari 스파크 라인을 만들 수 있습니다. <br/><br/>
=<b>VARISPARKLINE(variance, reference?, mini?, maxi?, mark?, tickunit?, legend?, colorPositive?, colorNegative?, vertical?)</b>
이 함수에는 다음과 같은 매개 변수가 있습니다.<br/><br/>
<b>variance</b> : 막대의 길이를 나타내는 숫자 또는 참조 (예 : 2 또는 "A1").<br/><br/>
<b>reference</b> : (선택 사항) 레퍼런스 선의 위치를 ​​나타내는 숫자 또는 레퍼런스 (예 : 0 또는 "A2"). 기본값은 0입니다.<br/><br/>
<b>mini</b>: (선택 사항) 스파크 라인의 최소값을 나타내는 숫자 또는 레퍼런스 (예 : -5 또는 "A3"). 기본값은 -1입니다.<br/><br/>
<b>maxi</b>: (선택 사항) 스파크 라인의 최대 값을 나타내는 숫자 또는 레퍼런스 (예 : 5 또는 "A4"). 기본값은 1입니다.<br/><br/>
<b>mark</b>: (선택 사항) 마크 라인의 위치를 ​​나타내는 숫자 또는 레퍼런스 (예 : 3 또는 "A5"). 기본값은 0입니다.<br/><br/>
<b>tickunit</b> : (선택 사항) 눈금 단위를 나타내는 숫자 또는 레퍼런스 (예 : 1 또는 "A6"). 기본값은 0입니다.<br/><br/>
<b>legend</b> : (선택 사항) 텍스트를 표시할지 여부를 나타내는 Boolean입니다. 기본값은 false입니다.<br/><br/>
<b>colorPositive</b> : (선택 사항) 분산이 레퍼런스보다 클 경우의 색 구성표를 나타내는 문자열. 기본값은 "녹색"입니다.<br/><br/>
<b>colorNegative</b> : (선택 사항) 분산이 레퍼런스보다 작은 경우의 색 구성표를 나타내는 문자열. 기본값은 "빨간색"입니다.<br/><br/>
<b>vertical</b> : (선택 사항) 상자의 방향이 세로 또는 가로인지 여부를 나타내는 Boolean입니다. 기본값은 false입니다.
   </p>
<br/>
<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/Vari Sparkline' src='//codepen.io/GrapeCity-Korea/embed/ZKzPJP/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/ZKzPJP/'>SpreadJS.10/Vari Sparkline</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>      