<h1 class="page-header">
  학생 슬라이서 사용예 | Student Slicer Use Case
</h1>
<div id="content" class="content">
<p>
표준 DOM 요소 또는 3rd 파티 요소를 사용하여 슬라이서의 UI를 사용자 정의 할 수 있습니다.
<br/><br/>
여기에서는 오른쪽에 <b>noUiSlider</b>를 사용하는 학생 슬라이서를 보여줍니다.
</p>
<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/Student Slicer Use Case' src='//codepen.io/GrapeCity-Korea/embed/ygQyMq/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/ygQyMq/'>SpreadJS.10/Student Slicer Use Case</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>        