<h1 class="page-header">
  1040 세금 양식
</h1>
<div id="content" class="content">
  <p>양식 1040 (미국 개인 소득세 환급)은 IRS에 제출 된 개인 (개인) 연방 소득세 신고서의 시작 양식입니다.</p>
  <p>Spread.Sheets는 <b>fromJSON</b>을 사용하여 저장된 파일의 데이터를로드합니다.</p>
  
<pre class="sample-code"><code class="js hljs javascript"><span class="hljs-keyword">var</span> sd = <span class="hljs-string">JSON</span>.parse(data);
spread.suspendPaint();
spread.fromJSON(sd[0]);
spread.resumePaint();</code></pre> 

<br/>
<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/1041 Tax Form' src='//codepen.io/GrapeCity-Korea/embed/peoKMj/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/GrapeCity-Korea/pen/peoKMj/'>SpreadJS.10/1041 Tax Form</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe></div>