<h1 class="page-header">
  와일드 카드 문자 | Function Wildcards
</h1>
<div id="content" class="content">
<p>검색시 함수의 비교 기준으로 와일드 카드 문자 (?, *, ~)를 사용할 수 있습니다.</p>
<table border =1>
  <tr>  
     <td><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wildcard character&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
     <td><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Match&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
  </tr> 
  <tr>
     <td>?</td>
     <td>모든 단일 문자</td>
  </tr>   
  <tr>
     <td>*</td>
     <td>임의의 문자 수</td>
  </tr>  
  <tr>
     <td>~ 뒤이어 ?, *, or ~</td>
     <td>	?, *, or ~ character</td>
  </tr> 
</table>  

<p><br/><b>참고:</b>와일드 카드는 equals (=)를 사용하는 비교 문자열에서만 사용할 수 있습니다. 다른 연산자 (>, <,! =, <=,> =)를 사용하는 비교에서는 사용할 수 없습니다.. 
<br/><br/>와일드 카드 문자는 다음과 같이 기준 인수가 있는 모든 함수에서 작동합니다.
</p>

<ul>
  <li><b>AVERAGEIF </b></li>
  <li><b>AVERAGEIFS </b></li>
  <li><b>COUNTIF </b></li>
  <li><b>COUNTIFS </b></li>
  <li><b>SUMIF </b></li>
  <li><b>SUMIFS </b></li>
  <li><b>MATCH </b></li>
  <li><b>SEARCH </b></li>
  <li><b>VLOOKUP </b></li>
  <li><b>HLOOKUP </b></li>
  <li><b>DAVERAGE </b></li>
  <li><b>DGET </b></li>
  <li><b>DMAX </b></li>
  <li><b>DMIN </b></li>
  <li><b>DPRODUCT </b></li>
  <li><b>DSTDEV </b></li>
  <li><b>DSTDEVP </b></li>
  <li><b>DSUM </b></li>
  <li><b>DVAR </b></li>
  <li><b>DVARP </b></li>
</ul>  
<br/>
<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/Function Wildcards' src='//codepen.io/GrapeCity-Korea/embed/JEYNXp/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/JEYNXp/'>SpreadJS.10/Function Wildcards</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>    