<h1 class="page-header">
 HBar / VBar 스파크라인 | HBar / VBar Sparkline
</h1>
<div id="content" class="content">
<p>HBarSparkline 또는 VBarSparkline 함수를 사용하여 hbar / vbar 스파크 라인을 만들 수 있습니다. <br/><br/>
=<b>HBARSPARKLINE (value, colorScheme?) 또는 = VBARSPARKLINE (value, colorScheme?).</b><br/><br/>
함수에는 다음과 같은 매개 변수가 있습니다.<br/><br/>
<b>value</b> : 0.3 또는 "A1"과 같은 막대의 길이를 나타내는 숫자 또는 참조입니다. 값이 100 %보다 크거나 -100 %보다 작 으면 화살표가 표시됩니다.<br/><br/>
<b>colorScheme</b> : (선택 사항) 막대의 색상을 나타내는 문자열. 기본값은 "회색"입니다.<br/><br/>
<b>HBarSparkline</b> : 양수 값, 스파크 라인은 셀 왼쪽에서 시작합니다. 음수 값, 스파크 라인은 셀 오른쪽에서 시작합니다.<br/><br/>
<b>VBarSparkline</b> : 양수 값, 스파크 라인은 셀의 맨 아래에서 시작합니다. 음수 값은 스파크 라인이 셀 위쪽에서 시작합니다.<br/><br/>
</p>

<br/>
<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/hbar/vbar sparkline' src='//codepen.io/GrapeCity-Korea/embed/JWqQry/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/JWqQry/'>SpreadJS.10/hbar/vbar sparkline</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>    