<h1 class="page-header">
  일반 슬라이서 데이터 | General Slicer Data
</h1>
<div id="content" class="content">
<p>
<b>GeneralSlicerData</b>는 2 차원 배열의 데이터를 처리하는 데 사용됩니다. 하나의 GeneralSlicerData에 여러 개의 슬라이서를 부착 할 수 있으며 각 슬라이서는 하나의 데이터 열을 필터링하는 데 사용됩니다. 모든 슬라이서가 필터링되면, 모든 슬라이서는 GeneralSlicerData로부터 통지를 받습니다. 동시에 모든 슬라이서는 GeneralSlicerData에서 필터링 된 결과를 가져와 UI를 업데이트합니다.
<br/><br/>
슬라이서는 다음 단계에 따라 GeneralSlicerData와 함께 작동합니다.
<br/><br/>
<b>(1) 데이터로 새 GeneralSlicerData를 만듭니다.</b>
<br/><br/>
<b>(2) 새 사용자 정의 슬라이서를 작성하고 GeneralSlicerData에 연결하십시오.</b>
<br/><br/>
<b>(3) GeneralSlicerData에서 열 데이터를 가져 와서 슬라이서 UI를 만듭니다.</b>
<br/><br/>
<b>(4) UI 이벤트에 응답하고 GeneralSlicerData doFilter 메소드를 호출하십시오.</b>
<br/><br/>
<b>(5) GeneralSlicerData에서 필터링 된 결과를 가져 와서 슬라이서 UI를 업데이트합니다.</b>
<br/><br/>
다음 API는 간단한 코드를 작성하는 데 도움이 됩니다.
<br/><br/>
<b>getData</b> : 지정된 열에 대한 모든 데이터를 가져옵니다.
<br/><br/>
<b>getExclusiveData</b> : 지정된 열에 대한 독점 데이터 (비 반복 데이터)를 가져옵니다.
<br/><br/>
<b>doFilter</b> : 지정된 열 및 배타적 데이터 인덱스에 해당하는 데이터를 필터링합니다.
<br/><br/>
<b>doUnfilter</b> : 지정된 열에 해당하는 데이터의 필터를 해제합니다.
<br/><br/>
<b>attachListener</b> : 슬라이서 데이터에 슬라이서를 연결합니다.
<br/><br/>
<b>detachListener</b> : 슬라이서 데이터에서 슬라이서를 분리합니다.
<br/><br/>
<b>onFiltered</b> : 슬라이서 데이터가 필터링 된 후에 발생합니다.

</p>  

<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/General Slicer Data' src='//codepen.io/GrapeCity-Korea/embed/XpxKOy/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/XpxKOy/'>SpreadJS.10/General Slicer Data</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>      