<h1 class="page-header">
  Excel 2010 함수 | Excel 2010 Functions
</h1>
<div id="content" class="content">
<p>Spread.Sheets는 다음과 같은 Excel 2010 기능을 지원합니다. </p>
<ul>
  <li><b>CEILING.PRECISE </b></li>
  <li><b>COVARIANCE.S </b></li>
  <li><b>FLOOR.PRECISE </b></li>
  <li><b>PERCENTILE.EXC </b></li>
  <li><b>QUARTILE.EXC </b></li>
  <li><b>RANK.AVG </b></li>
  <li><b>MODE.MULT </b></li>
  <li><b>ISO.CEILING </b></li>
  <li><b>BETA.DIST </b></li>
  <li><b>GAMMALN.PRECISE </b></li>
  <li><b>ERF.PRECISE </b></li>
  <li><b>ERFC.PRECISE </b></li>
  <li><b>PERCENTRANK.EXC </b></li>
  <li><b>HYPGEOM.DIST </b></li>
  <li><b>LOGNORM.DIST </b></li>
  <li><b>NEGBINOM.DIST </b></li>
  <li><b>NORM.S.DIST </b></li>
  <li><b>T.DIST </b></li>
  <li><b>F.DIST </b></li>
  <li><b>CHISQ.DIST </b></li>
  <li><b>F.INV </b></li>
  <li><b>T.INV </b></li>
  <li><b>CHISQ.INV </b></li>
  <li><b>CONFIDENCE.T </b></li>
  <li><b>NETWORKDAYS.INTL </b></li>
  <li><b>WORKDAY.INTL </b></li>
</ul>
<br/>
<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/Excel 2010 Functions' src='//codepen.io/GrapeCity-Korea/embed/dNYWYK/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/dNYWYK/'>SpreadJS.10/Excel 2010 Functions</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>
