<h1 class="page-header">
  Spread 테마 | Sheet Theme
</h1>
<div id="content" class="content">
<p>1.Spread.Sheets는 다음과 같이 CSS 파일에 의해 제공되는 Excel의 다양한 스타일을 지원합니다. : </p>
<ul>
  <li><b>Excel 2007 : gc.spread.sheets.x.xx.xxxxx.x.css</b></li>
  <li><b>Excel 2013 White : gc.spread.sheets.excel2013white.x.xx.xxxxx.x.css</b></li>
  <li><b>Excel 2013 Light Gray : gc.spread.sheets.excel2013lightgray.x.xx.xxxxx.x.css</b></li>
  <li><b>Excel 2013 Dark Gray : gc.spread.sheets.excel2013darkgray.x.xx.xxxxx.x.css</b></li>
  <li><b>	Excel 2016 Colorful : gc.spread.sheets.excel2016colorful.x.xx.xxxxx.x.css</b></li>
  <li><b>	Excel 2016 Dark Gray : gc.spread.sheets.excel2016darkgray.x.xx.xxxxx.x.css</b></li>
</ul>
<p>2. 페이지의 Head 부분에 스타일 링크를 추가하여 그 중 하나를 사용할 수 있습니다. 예: </p>
 <pre class="sample-code"><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">link</span> <span class="hljs-attribute">rel</span>=<span class="hljs-value">'stylesheet' </span><span class="hljs-attribute">href</span>=<span class="hljs-value">"css/gc.spread.sheets.excel2013white.x.xx.xxxxx.x.css"</span>/&gt;</span></code></pre>
<p><br/>3. CSS 참조 파일을 변경하여 테마간에 동적 전환이 가능합니다. 변경 사항을 적용하려면 Spread의 통화 새로 고침 방법이 필요합니다.  </p>

<br/>
<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/Spread Theme' src='//codepen.io/GrapeCity-Korea/embed/rjBrNa/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/rjBrNa/'>SpreadJS.10/Spread Theme</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>    