<h1 class="page-header">
 필터 버튼 보이기 | Filter Button Visible
</h1>
<div id="content" class="content">
<p>  
Filter 또는 Table 객체의 <b>filterButtonVisible</b> 메서드를 사용하여 필터 버튼의 표시 여부를 가져 오거나 설정합니다.
<br/><br/>
filterButtonVisible 메소드의 get 및 set 데이터는 아래와 같이 인수에 따라 다른 속성을 가집니다.
</p>
<ul>
  <li><b>인수 없음: 필터 버튼의 표시 여부를 가져 옵니다. 보이는 경우 True, 보이지 않는 경우 false로 표시 됩니다.</b></li>
  <li><b>1개의 인수: 만약 인수가 숫자라면, 해당 숫자에 해당하는 열에 필터가 적용되거나 또는 상태가 리턴 됩니다. 만약 인수가 Boolean(True/False) 값이라면, 전체 열의 영역에서 필터가 적용되거나 해제되게 됩니다.</b></li>
  <li><b>2개의 인수: 첫 번째 인수는 열의 인덱스이고 두 번째 인수는 Boolean(True/False) 값입니다. 해당 열의 인덱스에 필터 버튼을 표시할지 여부를 설정합니다.</b></li>
</ul>
<p>
예를 들면:
</p>
<pre class="sample-code"><code class="js hljs javascript"><span class="hljs-number">// 모든 필터버튼 숨기기</span>
filter.filterButtonVisible(false);
<span class="hljs-number">// table.filterButtonVisible(false);</span>

<span class="hljs-number">// 모든 필터 버튼 보이기</span>
filter.filterButtonVisible(true);
<span class="hljs-number">// table.filterButtonVisible(true);</span>

<span class="hljs-number">// 특정 컬럼의 필터 버튼 숨기기</span>
filter.filterButtonVisible(colIndex, false);
<span class="hljs-number">// table.filterButtonVisible(tableColumnIndex, false);</span>

<span class="hljs-number">// 특정한 컬럼의 필터 버튼 보이기 속성 가져오기</span>
filter.filterButtonVisible(colIndex);
<span class="hljs-number">// table.filterButtonVisible(tableColumnIndex);</span></code></pre> 

<h2>
  샘플코드:
</h2>
<p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
<iframe height='520' scrolling='no' title='SpreadJS.10/' src='//codepen.io/GrapeCity-Korea/embed/VPNYbG/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/GrapeCity-Korea/pen/VPNYbG/'>SpreadJS.10/</a> by GrapeCity Korea (<a href='http://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
</div>  