<h1 class="page-header">
  클라이언트에서 엑셀 가져오기 내보내기 | Client Side Excel IO
</h1>

<div id="content" class="content">
  <p>클라이언트 측 엑셀 가져 오기 및 내보내기는 엑셀 파일 (.xlsx)을 스프레드 json 및 스프레드 json으로 내 보냅니다.<br/><br/> 1. ExcelIO 기능을 사용하려면 관련 js 파일 링크를 스프레드
    링크 아래의 문서 머리 부분에 추가해야합니다. 예 :</p>


  <br/>
  <h2>
    샘플코드:
  </h2>
  <p><code><b>결과화면과 함께 HTML, JS 코드도 확인이 가능합니다.</b></code></p>
  <iframe height='520' scrolling='no' title='SpreadJS.10/Client Side Excel IO' src='//codepen.io/GrapeCity-Korea/embed/MpWGrP/?height=520&theme-id=light&default-tab=js,result&embed-version=2&editable=true' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/GrapeCity-Korea/pen/MpWGrP/'>SpreadJS.10/Client Side Excel IO</a> by GrapeCity Korea (<a href='https://codepen.io/GrapeCity-Korea'>@GrapeCity-Korea</a>) on <a href='https://codepen.io'>CodePen</a>.
</iframe>
</div>